.cgif{
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 100px;
}

div.a{
    text-align: center;
    font-family:verdana;
    font-size: 20px;
}

.abutton{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.yes, .no{
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    display: inline-block;
}

.yes{
    position: relative;
    z-index: 2;
    transform-origin: center center;
}

.no {
    z-index: 1;
    position: relative;
    transition: transform 0.15s ease;
}

.agif {
    width: 30%;
}

.p2{
    text-align: center;
    font-family:verdana;
    font-size: 20px;
}

.new-position {
    text-align: center;
    margin-top: 250px; /* Aligns text within its container */
    /* Alternatively, for absolute positioning: */
    /* position: absolute; */
    /* right: 20px; */
}

.cgifnew{
    width: 1%;
    display: block;
    margin: auto;
    margin-top: 100px;
}

.cgif2{
    width: 30%;
    display: block;
    margin: auto;
    margin-top: 100px;
}

.nonew{
    width: 5%;
    display: flex;
    margin-top: 1000px;
}

.empty{
    width: 1%;
    position: absolute; /* Allows movement with top/left properties */
    padding: 15px 30px;
    outline: none;
    border: none;
    background-color: white;
    cursor: pointer;
    transition: left 0.3s ease, top 0.3s ease;
    z-index: 5
}

